.splash-main {
  background-size: cover;
  background-image: url("../splash-bg.jpg");
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.splash-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(12, 103, 133, 0.907);
  height: auto;
  width: 35vw;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.socials-header{
  font-size: large;
  margin-top: 3%;
  margin-bottom: 2%;
}

.socials{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1%;
}

.github{
transform: scale(1.4);
margin-left: 70%;
width: auto;
color: rgb(228, 86, 228);
}

.linked{
transform: scale(1.4);
margin-left: 100%;
padding-left: 50%;
width: auto;
color: chartreuse;
}

.chuck, .casey, .jake{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.bryan{
  width: 100%;
  display: flex;
  justify-content: center;
}

.splash-text:hover{
  cursor: default;
}

.splash-btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.splash-btns > button {
  background-color: rgb(11, 11, 102);
  color: white;
  border-radius: 20px;
  width: 10%;
  padding: 1%;
  border-bottom: 4px solid rgb(12, 103, 133);
}
.login-btn, .signup-btn, .demouser-btn {
  border-top: 4px solid lightblue;
  cursor: pointer;
}


.splash-title {
  margin-top: 45px;
}

.splash-mission {
  font-size: x-large;
}

.splash-statement {
  width: 300px;
  font-size: large;
  text-align: center;
}

.Sign-up-form{
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Sign-up-form > div{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

.Log-in-form{
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Log-in-form > div{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}